/* element selectors */
body {
    background-color: #F3EFE3;
}

h1,
h2,
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #43464B;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Class selectors */
.text-center {
    align-items: center;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

